.container {
  width: 600px;
  text-align: center;
}

p {
  background-color: yellow;
}
.current-description {
  margin-bottom: 10px;
  font-size: 18px;
}
.display-temperature {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
span {
  margin-top: 20px;
}
.forecast-weather {
  display: flex;
}
.forecast-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
